<div class="brand-logo brand-logo--{{ variant|default('default') }} {{ classes|default('') }}"
     {% if animate %}data-animate="brand-pulse"{% endif %}>
  <span class="brand-logo__text">{{ brand_text|default('27WM27') }}</span>
</div>